# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/checkstyle-idea.xml
.idea/compiler.xml
.idea/copyright/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/artifacts/*
out/production/service_03_java_xml/
out/production/service_04_soap/
out/production/service_04_soap_client/
out/production/service_05_wsdl/
out/production/service_05_wsdl_client/
out/production/service_05_wsdl_user/

